<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitFlex</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .jumbotron{
            {% comment %} background-image: url('{% static "man_run_sports.png" %}'); {% endcomment %}
            
            background-repeat: no-repeat;
            background-position: bottom;
            
        }
    </style>

</head>

<body class="flex flex-col min-h-screen">

    <div class="nav-bar">
        <nav >
            <ul class="flex flex-row bg-slate-700 
                text-red-600 text-lg text-center font-medium">

                <li class="basis-4 p-3 min-w-20 bg-white mx-3 my-3 border-b-rose-600 rounded-md">
                    <a href="/">Home</a>
                </li>
                <li class="basis-4 p-3 min-w-20 bg-white mx-3 my-3 border-b-rose-600 rounded-md">
                    <a href="/items/">Shop</a>
                </li>
                <li class="basis-4 p-3 min-w-20  bg-white mx-3 my-3 border-b-rose-600 rounded-md">
                    <a href="#">About</a>
                </li>
                <li class="basis-4 p-3 min-w-20 bg-white mx-3 my-3 border-b-rose-600 rounded-md">
                    <a href="#">Contact</a>
                </li>
            </ul>
             
        </nav>
    </div>


    <div class="jumbotron px-8 py-4 my-4 mx-auto border-2 rounded">
        <h1 class="text-5xl text-red-600 py-4 font-bold">
            Create Account
        </h1>
        <form action="" method="POST" class=" px-3 flex flex-col min-w-64 ">

            <label class="basis-4 my-2 " for="name">Enter your fullname</label>
            <input class="basis-4 border-slate-400 p-1 border-2 
                     focus:border-red-500 mb-2 rounded " type="text" name="name" id="name">

            <label class="basis-4 my-2 " for="username">Enter your username</label>
            <input class="basis-4 border-slate-400 p-1 border-2 
                     focus:border-red-500 mb-2 rounded " type="text" name="username" id="username">
            
            <label class="basis-4 my-2 " for="phone">Enter Mobile no</label>
            <input class="basis-4 border-slate-400 p-1 border-2 
                     focus:border-red-500 mb-2 rounded " type="number" name="phone" id="phone">

            <label class="basis-4 my-2 " for="email">Enter your email</label>
            <input class="basis-4 border-slate-400 p-1 border-2 
                     focus:border-red-500 mb-2 rounded " type="email" name="email" id="email">
        
            <button type="submit" href="/items" class="basis-4 bg-red-500 
                hover:bg-red-300 hover:text-slate-500 
                text-white text-xl py-1 mt-3 rounded"> 
                Sign Up
            </button>
        </form>
        <div class="signin-suggest flex flex-col max-w-screen-sm m-3">
            <p class=" basis-2 my-2"> Already have an account ?</p>
            <a  href="/users/signin" class="basis-2 border-2  
                hover:bg-slate-200 hover:text-slate-500 text-center
                 text-xl px-3 text-red-400 py-1 rounded"> 
                Login
            </a>
        </div>
    </div>





    <footer class=" bg-red-100 bottom-0 mt-auto">
        <h3 class=" ml-4 text-xl pt-3">
            Also available in :
        </h3>
        <div class="flex flex-row justify-center my-2 py-2">
            <div class="basis-2 mx-3 ">
                Bangalore 
            </div>
            <div class="basis-2 mx-3 ">
                Mumbai 
            </div>
            <div class="basis-2 mx-3 ">
                Delhi
            </div>
        </div>
    </footer>

</body>
</html>
</html>