{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitFlex</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .jumbotron{
            {% comment %} background-image: url('{% static "man_run_sports.png" %}'); {% endcomment %}
            
            background-repeat: no-repeat;
            background-position: bottom;
            
        }
    </style>

</head>

<body class="flex flex-col min-h-screen">
    <div class="nav-bar bg-slate-950 py-3 ">
        <nav >
            <ul class="flex items-center text-white text-lg font-medium">
                <!-- Navigation Links -->
                <li class="flex-none text-center px-3 py-1 mx-3 rounded">
                  <a href="/">  <img src="{% static 'fitflex.png' %}" width="100px" height="80px" style="background-size: contain;"alt="">
                  </a>
                </li>
                <li class="flex-none text-center px-3 py-1 bg-slate-950 border-white border-2 mx-3 ">
                    <a href="/items/">Shop</a>
                </li>
                <li class="flex-none text-center px-3 py-1 bg-slate-950 border-white border-2 mx-3 ">
                    <a href="#">About</a>
                </li>
                <li class="flex-none text-center px-3 py-1 bg-slate-950 border-white border-2 mx-3 ">
                    <a href="#">Contact</a>
                </li>

                <!-- Login Button -->
                <li class="flex-none text-center ml-auto px-3 py-1 bg-white text-slate-600 mx-3 rounded-md">
                    <a href="/users/signin">Login</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron px-8 py-4 my-4 mx-auto border-2 rounded">
        <h1 class="text-5xl text-red-600 pt-4 font-bold">
            Sign In
        </h1>
        <form action="" method="POST" class=" p-3 flex flex-col min-w-64 ">
            <label class="basis-4 mt-2 " for="username">Enter your username</label>
            <input class="basis-4 border-slate-400 p-1 border-2 
                     focus:border-red-500 my-2 rounded " type="text" name="username" id="username">
        
            <button type="submit" href="/items" class="basis-4 bg-red-500 
                hover:bg-red-300 hover:text-slate-500 
                text-white text-xl py-1 mt-2 rounded"> 
                Sign In
            </button>
        </form>
         <div class="signup-suggest flex flex-col max-w-screen-sm mx-3">
            <p class=" basis-2 my-2"> new to FitFlex ?</p>
            <a  href="/users/signup" class="basis-2 border-2  
                hover:bg-slate-200 hover:text-slate-500 text-center
                 text-xl px-3 text-red-400 py-1 rounded"> 
                Create account
            </a>
        </div>
        
    </div>

    <footer class=" bg-red-100 bottom-0 mt-auto">
        <h3 class=" ml-4 text-xl pt-3">
            Also available in :
        </h3>
        <div class="flex flex-row justify-center my-2 py-2">
            <div class="basis-2 mx-3 ">
                Bangalore 
            </div>
            <div class="basis-2 mx-3 ">
                Mumbai 
            </div>
            <div class="basis-2 mx-3 ">
                Delhi
            </div>
        </div>
    </footer>

</body>
</html>
</html>