{% extends 'master.html' %}
{% load static %}


    {% block styling %}
    <style>
        .jumbotron{
            background-image: url('{% static "man_run_sports.png" %}');
            
            background-repeat: no-repeat;
            background-position: bottom;
            
        }
    </style>
    {% endblock %}

    {% block content %}
    <div class="jumbotron px-5 pt-5 pb-9">
        <h1 class="text-5xl text-red-600 py-4 font-bold">
            FitFlex 
        </h1>
        <h3 class=" text-3xl py-2 text-slate-700 ">
            Gear Up for Your Fitness Journey
        </h3>
        <p class=" py-2 text-xl my-3 text-red-500">
            We offer top tier fitness gear, apparel, and accessories to empower health enthusiasts and athletes.
        </p>
        <a href="/items" class="bg-red-500 
            hover:bg-red-300 hover:text-slate-500 
            text-white text-2xl px-2 py-1 mt-3 ml-5 rounded-md"> 
            Buy Now
        </a>
    </div>

    {% endblock %}