{% extends 'master.html' %}
{% load static %}


    {% block styling %}
    <style>
        .jumbotron{
             /* background-image: url('{% static "man_run_sports.png" %}'); */
            
            background-repeat: no-repeat;
            background-position: bottom;
            
        }
    </style>
    {% endblock %}

    {% block content %}
    <div class=" jumbotron px-5 pt-5 pb-9 bg-gradient-to-b from-orange-300 from-35% to-red-200 to-90%">
        <h1 class="text-5xl text-red-500 py-4 font-bold ">
            FitFlex 
        </h1>
        <h3 class=" text-3xl py-2 font-semibold text-slate-700 ">
            Gear Up for Your Fitness Journey
        </h3>
        <p class=" py-2 text-xl my-3 text-slate-700">
            We offer top tier fitness gear, apparel, and accessories to empower health enthusiasts and athletes.
        </p>
        <a href="/items" class=" ml-8 " >
           <span class="bg-black text-white text-2xl font-semibold px-3 py-2 mt-3 ml-5  
               rounded-md shadow-inner
                transition delay-80 hover:scale-110 hover:bg-white hover:text-black  "> 
            Browse
            </span>
        </a>
    </div>

    <h3 class=" text-4xl px-5 pt-5  text-slate-700 font-bold ">
        Best Items for you
   </h3>
    
    <div class="carousel px-5 pt-2 pb-9 flex flex-wrap text-center justify-center">
        {% for p in best_products %}
        <div class="text-lg font-semibold m-5 border-2 border-slate-300 p-3 flex flex-col items-center w-80 hover:shadow-sm hover:shadow-slate-800">
            <!-- Product Category -->
            <p class="px-6 border-2 border-gray-500">{{ p.category }}</p>

            <!-- Product Image with Link -->
            <a href="{% url 'details' p.id %}" class="block my-4">
                <img src="{{ p.image.url }}" alt="{{ p.name }}" class=" w-50 h-52 hover:scale-105 
                            rounded">
            </a>

            <!-- Product Name -->
            <p class="mt-auto">{{ p.name }}</p>
        </div>
        {% endfor %}
    </div>



    {% endblock %}