<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitFlex</title>
</head>
<body>
    <div class="nav-bar">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/items/">Shop</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="jumbotron">
        <h1>
            FitFlex 
        </h1>
        <h3>
            Gear Up for Your Fitness Journey
        </h3>
        <p>
            An online store specializing in fitness gear, apparel, and accessories to empower health enthusiasts and athletes.
        </p>
    </div>

</body>
</html>