{% extends 'master.html' %}
{% load static %}

{% block styling %}

{% endblock %}


    
{% block content %}
    <div class="jumbotron p-3 mx-3">

        <p class="text-lg "> Back to 
        <a href="/items" class="bg-red-500 hover:bg-red-300 hover:text-slate-500
            text-white text-2xl px-2 py-1 mt-3 rounded-md"> 
            Browsing </a>
        </p>

        <div class="item-display grid place-content-center">
            <h3 class=" text-2xl py-4 text-slate-600 ">
                {{myitem.name}} 
            </h3>
            
            <p class=" text-2xl py-3 text-slate-600" >
                Price : Rs. {{myitem.price}} 
            </p>

            <button class="bg-red-500 hover:bg-red-300 hover:text-slate-500
                text-white text-xl px-2 py-1 mt-3 rounded-md" id="morebtn"> 
                More Details
            </button>
            
        </div>
        <div style="display: none" class="item-more-details p-3 mx-10 my-3 text-center 
                    bg-slate-300">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, ad? Sint aliquid dicta minima eligendi quis quasi aperiam id laborum minus animi ducimus, dignissimos iusto sed a repellat omnis. Possimus!
        </div>

    </div>
    <script>
        morebtn = document.getElementById('morebtn')
        morebtn.addEventListener('click', function(){

            morebtn.style.display = 'none';
            document.querySelector('.item-more-details').style.display = 'contents'
        })
    </script>

{% endblock %}