<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="nav-bar">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/items/">Shop</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <h1>
        Items :
    </h1>
    <ul>
        {% for x in myitems%}

        <li> <a href="item_details/{{x.id}}"> {{x.name}} {{x.price}} </a> </li> 
            
            {% comment %} {{ x.id }} dynamically inserts the ID of the current member (x) 
            into the URL.and hence hyperlinks are created for each member {% endcomment %}
        
        {% endfor %}
        
    </ul>
</body>
</html>