{% extends 'master.html' %}
{% load static %}

{% block styling %}

{% endblock %}


    
{% block content %}
    <div class="jumbotron p-3 mx-3">

        <p class="text-lg "> Back to 
        <a href="/items" class="bg-red-500 hover:bg-red-300 hover:text-slate-500
            text-white text-2xl px-2 py-1 mt-3 rounded-md"> 
            Browsing </a>
        </p>

        <div class="item-display grid place-content-center">
            <h3 class=" text-2xl py-4 text-slate-600 ">
                {{myitem.name}} 
            </h3>
            
            <p class=" text-2xl py-3 text-slate-600" >
                 Rs. {{myitem.price}} 
            </p>
                <p>
                    {{myitem.description}}
                </p>

            <img src="{{ myitem.image.url}}" alt="" width="400" height="300">

            <div class="flex-row justify-center">
                <button class="flex-none bg-orange-300 border-2 border-orange-600 hover:bg-yellow-300 hover:text-slate-500
                text-slate-800 text-xl px-3 py-2 mt-3 rounded-full" id="morebtn"> 
                Buy now
                </button>
                
                <button class="flex-none bg-orange-300 hover:bg-yellow-300 hover:text-slate-500
                text-slate-800 text-xl px-3 py-2 mt-3 rounded-full" id="morebtn"> 
                Add to Cart
                </button> 
            </div>
            
        </div>
        <div style="display: none" class="item-more-details p-3 mx-10 my-3 text-center 
                    bg-slate-300">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, ad? Sint aliquid dicta minima eligendi quis quasi aperiam id laborum minus animi ducimus, dignissimos iusto sed a repellat omnis. Possimus!
        </div>

    </div>
    <script>
        morebtn = document.getElementById('morebtn')
        morebtn.addEventListener('click', function(){

            morebtn.style.display = 'none';
            document.querySelector('.item-more-details').style.display = 'contents'
        })
    </script>

{% endblock %}