<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Testing </title>
</head>
<body>
    <h1>
        Testing..
    </h1>
    <p> My Name is : {{name}} </p>
    <ul>
        {% for x in animals%}
        <li>
            {{x}}
        </li>
        {% endfor %}
    </ul>

    {% if greeting == 1 %}
        <h1>Hello</h1>
    {% elif greeting == 2 %}
         <h1>Welcome</h1>
    {% else %}
        <h1>Goodbye</h1>
    {% endif %} 



    
    {% comment %}
 filter tag allows you to run a section of code through a filter, 
    and return it according to the filter keyword

    Filter applies a some sort of filter operation on either the HTML text/
    Object on which it is applied on.

    Ex: lowercase,uppercase, random , time, first,last , length {% endcomment %}
    {% filter upper %}
        sachin is Angry , why?
    {% endfilter%} 
            <- SACHIN IS ANGRY , WHY? ->

    {% if greeting == 2 and day == "Friday" %}
        <h1>Hello Weekend!</h1>
    {% endif %} 

{% comment %} ---------------------------------------------------------- {% endcomment %}
    
    {% if greeting == 1 and day == "Friday" or greeting == 5 %}
        Please
    {% endif%} 

     {% comment %} Is same as  {% endcomment %}

    {% comment %}
        {% if (greeting == 1 and day == "Friday") or greeting == 5 %}
            Please
        {% endif%}  
    {% endcomment %}

    {% comment %} in Django. Why ? 
    Parentheses are not allowed in if statements
    in Django, so when you combine and and or operators, it is 
    important to know that parentheses are added for and but not for or {% endcomment %}

    {% with var1=x var2=x %} #
        {% if var1 is var2 %}
             <h1>YES</h1>
        {% else %}
             <h1>NO</h1>
        {% endif %}
    {% endwith %}
    {% comment %} with tag in django is used for declaring temp variables
     of block like scope ie, these variables are valid within the with 
     tag they are declred in
     {% endcomment %}

     {% for x in members reversed %}
        <h1>{{ x.id }}</h1>
        <p>
        {{ x.firstname }}
        {{ x.lastname }}
        </p>
    {% endfor %} 
    {% comment %} Its a for loop that runs from last elem to first. {% endcomment %}

    {% comment %} empty is a block within the for loop, where we can define
    what actions to take, if one of items/records we are looping through
    turnout to be empty {% endcomment %}
    <ul>
        {% for x in emptytestobject %}
            <li>{{ x.firstname }}</li>
        {% empty %}
            <li>No members</li>
        {% endfor %}
    </ul> 

    {% comment %} 
    The empty keyword can also be used if the object does not exist:
     {% endcomment %}

     {% with temp=7 %}
        {% for x in notTemp%}
            x
        {% empty %}
            No items
        {% endfor%}
     {% endwith %}

    {% comment %} 

    In with tag make sure unnecessary whitespace are not given.
    Ex : %with temp =7% gives error. It must always
    be % with temp=7 %

    {% endcomment %}

    {% comment %} 
    Forloop has several property/variables that we can use at each
    iteration to know their value

    forloop.counter   : gives 1 based counter (position of curr itern)
    forloop.counter0  : gives 0-based counter (position of curr itern)
    forloop.first   : bool indicating whether its 1st itern 
    forloop.last    : bool indicating whether its last itern
    forloop.parentloop : For nested loops, gives reference of parent loop,
             so that we can use its properties/counters also.
    forloop.revcounter : posn of iteration from last
    forloop.revcounter0: same as above but 0-based 

    {% endcomment %}

    {% for x in animals%}
        {% if forloop.first %}
            First Iter!
        {% endif%}
        {{x}} : {{ forloop.revcounter0 }}
    {% endfor %}

    {% comment %} 
    Op:
    First Iter! tiger : 3 monkey : 2 cat : 1 dog : 0 
    {% endcomment %}

    
    

</body>
</html>